extends ../layout

block content
  h1 Quandlism For #{locals.source_code}/#{locals.code}
  
  #chart-container(data-role="chart")
  #legend(data-role="legend")
    
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.2/jquery.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.1/underscore-min.js")
  script(src="/javascripts/d3.v2.js")  
  script(src="/javascripts/quandlism.js")
  
  script(type="text/javascript")
    var chart = quandlism.context().chart($('[data-role=chart]')).withLegend($('[data-role=legend]')).title("Chart for #{locals.source_code}/#{locals.code}");
        
    $.getJSON("/api", {code: "#{locals.code}", source_code: "#{locals.source_code}"}).done(renderChart);
     function renderChart(apiData) {
       chart.data({data: apiData.data, columns: apiData.column_names, show: [0]}).render();
     }
    

  
    
    
  